Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx,json}": ["prettier --write", "eslint --fix"],
  "webpack/**/*.{ts,js,json}": ["prettier --write", "eslint --fix"],
  "*.{json,js,ts,md,yaml}": ["prettier --write"]
}

set treshold manually
  .github/workflows/coverage_report.yaml
Due: prettier --write

change reporter
  .github/workflows/coverage_report.yaml
  .gitignore
  jest.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix typo
  .github/workflows/coverage_report.yaml
Due: prettier --write

test
  .github/workflows/coverage_report.yaml
Due: prettier --write

make coverage treshold = 50
  .github/workflows/coverage_report.yaml
Due: prettier --write

adding coverage only for new files
  .github/workflows/coverage_report.yaml
  package.json
Due: prettier --write

change implementation on check new files
  .github/workflows/coverage_report.yaml
Due: prettier --write

fix git history
  .github/workflows/coverage_report.yaml
Due: prettier --write

change checkout
  .github/workflows/coverage_report.yaml
Due: prettier --write

fix checkout
  .github/workflows/coverage_report.yaml
Due: prettier --write

checkout
  .github/workflows/coverage_report.yaml
Due: prettier --write

feat: refactor error handling
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/index.tsx
  src/renderer/screens/Settings/Networks/SelectConnection/SelectConnection.tsx
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/networkService.ts
Due: prettier --write, eslint --fix

feat: give provider time to disconnect
  src/renderer/screens/Settings/Networks/NetworkItem/NetworkItem.tsx
  src/renderer/screens/Settings/Networks/SelectConnection/SelectConnection.tsx
  src/renderer/services/network/networkService.ts
Due: prettier --write, eslint --fix

feat: fix eslint
  .prettierignore
  package.json
  scripts/buildChainsJson.js
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Balances/AssetBalance/AssetBalance.test.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.test.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.test.tsx
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
  tests/integrations/dataVerification/dataVerification.base.test.ts
Due: prettier --write, eslint --fix

chore: pr review
  src/renderer/context/NetworkContext/NetworkContext.tsx
Due: prettier --write, eslint --fix

Feat: Improve network service
  .eslintrc.js
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/update_chains_file.yaml
  .prettierignore
  README.md
  package.json
  scripts/buildChainsJson.js
  src/renderer/App.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/Balances/AssetBalance/AssetBalance.test.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.test.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.test.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepTwo/StepTwo.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Settings/Networks/NetworkItem/NetworkItem.tsx
  src/renderer/screens/Settings/Networks/SelectConnection/SelectConnection.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/networkService.ts
  tests/integrations/dataVerification/dataVerification.base.test.ts
  webpack/webpack.renderer.dev.ts
Due: prettier --write, eslint --fix

Feat: Improve network service (#65)
  .eslintrc.js
  .github/workflows/make-pull-request/action.yaml
  .github/workflows/update_chains_file.yaml
  .prettierignore
  README.md
  package.json
  scripts/buildChainsJson.js
  src/renderer/App.tsx
  src/renderer/components/common/QrCode/QrReader/QrReader.tsx
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/AddressBook/AddressBook.tsx
  src/renderer/screens/Balances/AssetBalance/AssetBalance.test.tsx
  src/renderer/screens/Balances/NetworkBalances/NetworkBalances.test.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.test.tsx
  src/renderer/screens/Balances/ReceiveModal/ReceiveModal.tsx
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.tsx
  src/renderer/screens/Onboarding/Parity/StepTwo/StepTwo.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Settings/Networks/NetworkItem/NetworkItem.tsx
  src/renderer/screens/Settings/Networks/SelectConnection/SelectConnection.tsx
  src/renderer/screens/Transfer/Transfer.tsx
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/chains/chains.json
  src/renderer/services/network/common/chains/omni-chains.json
  src/renderer/services/network/common/chains/omni-chains_dev.json
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/networkService.ts
  tests/integrations/dataVerification/dataVerification.base.test.ts
  webpack/webpack.renderer.dev.ts
Due: prettier --write, eslint --fix

fix: tests
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.test.tsx
Due: prettier --write, eslint --fix

fix: tests with setTimeout
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.test.tsx
Due: prettier --write, eslint --fix

Feat: Custom node
  pnpm-lock.yaml
  src/renderer/assets/images/functionals/clear-outline.svg
  src/renderer/components/ui/Balance/Balance.tsx
  src/renderer/components/ui/Buttons/common/constants.ts
  src/renderer/components/ui/Buttons/common/types.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/InputHint/InputHint.stories.tsx
  src/renderer/components/ui/InputHint/InputHint.test.tsx
  src/renderer/components/ui/InputHint/InputHint.tsx
  src/renderer/components/ui/index.ts
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/domain/chain.ts
  src/renderer/domain/connection.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/hooks/__tests__/useClickOutside.test.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.test.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/index.ts
  src/renderer/screens/Settings/Networks/NetworkItem/NetworkItem.tsx
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/__tests__/connectionStorage.test.ts
  src/renderer/utils/address.ts
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: prettier --write, eslint --fix

Feat: Custom node (#53)
  pnpm-lock.yaml
  src/renderer/assets/images/functionals/clear-outline.svg
  src/renderer/components/ui/Balance/Balance.tsx
  src/renderer/components/ui/Buttons/common/constants.ts
  src/renderer/components/ui/Buttons/common/types.ts
  src/renderer/components/ui/Icon/data/functionals.tsx
  src/renderer/components/ui/InputHint/InputHint.stories.tsx
  src/renderer/components/ui/InputHint/InputHint.test.tsx
  src/renderer/components/ui/InputHint/InputHint.tsx
  src/renderer/components/ui/index.ts
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/domain/chain.ts
  src/renderer/domain/connection.ts
  src/renderer/domain/shared-kernel.ts
  src/renderer/hooks/__tests__/useClickOutside.test.ts
  src/renderer/screens/Onboarding/Parity/StepThree/StepThree.test.tsx
  src/renderer/screens/Onboarding/WatchOnly/WatchOnly.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.test.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/CustomRpcModal/CustomRpcModal.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.test.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/index.ts
  src/renderer/screens/Settings/Networks/NetworkItem/NetworkItem.tsx
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/__tests__/connectionStorage.test.ts
  src/renderer/utils/address.ts
  src/renderer/utils/strings.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: prettier --write, eslint --fix

Adding global coverage bage
  .github/workflows/global_coverage_report.yml
  .github/workflows/pull_request_coverage_report.yaml
  README.md
Due: prettier --write

fix if condition
  .github/workflows/global_coverage_report.yml
  .github/workflows/pull_request_coverage_report.yaml
Due: prettier --write

update gist
  .github/workflows/global_coverage_report.yml
Due: none

feat: stop validation after disable network
  src/renderer/services/balance/balanceService.ts
Due: prettier --write, eslint --fix

fix typo
  .github/workflows/global_coverage_report.yml
Due: none

fix: empty state for all disabled networks
  src/renderer/screens/Balances/Balances/Balances.test.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/services/balance/common/constants.ts
Due: prettier --write, eslint --fix

Update Id
  .github/workflows/global_coverage_report.yml
  README.md
Due: prettier --write

change bage label
  .github/workflows/global_coverage_report.yml
Due: none

return real data back
  .github/workflows/global_coverage_report.yml
  .github/workflows/lint_and_test.yaml
  .github/workflows/localisation_test.yaml
  .github/workflows/pull_request_coverage_report.yaml
Due: prettier --write

updaet ignore path
  .github/workflows/pull_request_coverage_report.yaml
Due: prettier --write

feat: confirmation context fix: confirm on change connection type from light client
  src/renderer/App.tsx
  src/renderer/components/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/context/ConfirmContext/ConfirmContext.test.tsx
  src/renderer/context/ConfirmContext/ConfirmContext.tsx
  src/renderer/context/ConfirmContext/index.ts
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.test.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: prettier --write, eslint --fix

chore: fix translation lint
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: prettier --write, eslint --fix

chore: fix comments
  src/renderer/context/ConfirmContext/ConfirmContext.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
Due: prettier --write, eslint --fix

Fix: disable network
  src/renderer/App.tsx
  src/renderer/components/ui/Modals/BaseModal/BaseModal.tsx
  src/renderer/components/ui/Modals/ConfirmModal/ConfirmModal.tsx
  src/renderer/context/ConfirmContext/ConfirmContext.test.tsx
  src/renderer/context/ConfirmContext/ConfirmContext.tsx
  src/renderer/context/ConfirmContext/index.ts
  src/renderer/screens/Balances/Balances/Balances.test.tsx
  src/renderer/screens/Balances/Balances/Balances.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.test.tsx
  src/renderer/screens/Settings/Networks/ConnectionSelector/Selector/Selector.tsx
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/common/constants.ts
  src/shared/locale/en.json
  src/shared/locale/ru.json
Due: prettier --write, eslint --fix
