Repository novasamatech/nova-spektr: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{ts,js,tsx,jsx,json}": ["prettier --write", "eslint --fix"],
  "webpack/**/*.{ts,js,json}": ["prettier --write", "eslint --fix"],
  "*.{json,js,ts,md,yaml}": ["prettier --write"]
}

chore: fix comments
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/services/storage/types.ts
Due: prettier --write, eslint --fix

chore: fix comments
  src/renderer/services/network/connectionStorage.ts
  src/renderer/services/network/networkService.ts
Due: prettier --write, eslint --fix

feat: network service
  src/renderer/App.tsx
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/context/NetworkContext/index.ts
  src/renderer/services/network/__test__/chainSpecService.test.ts
  src/renderer/services/network/__test__/chainsService.test.ts
  src/renderer/services/network/chainSpecService.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/chainSpecs/kusama-karura.json
  src/renderer/services/network/common/chainSpecs/kusama-statemine.json
  src/renderer/services/network/common/chainSpecs/polkadot-acala.json
  src/renderer/services/network/common/chainSpecs/polkadot-statemint.json
  src/renderer/services/network/common/chainSpecs/westend-westmint.json
  src/renderer/services/network/common/chains.json
  src/renderer/services/network/common/constants.ts
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/connectionStorage.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/types.ts
  src/renderer/utils/objects.ts
Due: prettier --write, eslint --fix

Updated cache key and change naming
  .github/workflows/lint_and_test.yaml
  .github/workflows/release.yaml
Due: prettier --write

Adding separate release workflow
  .github/workflows/build.yaml
  .github/workflows/lint_and_test.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --write

Updated cache keys and create release CI/CD (#7)
  .github/workflows/build.yaml
  .github/workflows/lint_and_test.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --write

Updated cache keys and create release CI/CD
  .github/workflows/build.yaml
  .github/workflows/lint_and_test.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --write

feat: matrix verification
  .eslintrc.js
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Icon/Icon.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/index.ts
  src/renderer/services/matrix/__tests__/credentialStorage.test.ts
  src/renderer/services/matrix/__tests__/matrix.test.ts
  src/renderer/services/matrix/__tests__/secretStorage.test.ts
  src/renderer/services/matrix/common/constants.ts
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/credentialStorage.ts
  src/renderer/services/matrix/index.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/matrix/secretStorage.ts
  tsconfig.json
  tsconfig.paths.json
  webpack/webpack.shared.ts
Due: prettier --write, eslint --fix

feat: matrix verification (#10)
  .eslintrc.js
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/renderer/components/layout/PrimaryLayout/Navigation/Navigation.tsx
  src/renderer/components/ui/Icon/Icon.tsx
  src/renderer/context/MatrixContext/MatrixContext.tsx
  src/renderer/routes/index.tsx
  src/renderer/routes/paths.ts
  src/renderer/screens/ChatDev/ChatDev.tsx
  src/renderer/screens/index.ts
  src/renderer/services/matrix/__tests__/credentialStorage.test.ts
  src/renderer/services/matrix/__tests__/matrix.test.ts
  src/renderer/services/matrix/__tests__/secretStorage.test.ts
  src/renderer/services/matrix/common/constants.ts
  src/renderer/services/matrix/common/errors.ts
  src/renderer/services/matrix/common/types.ts
  src/renderer/services/matrix/credentialStorage.ts
  src/renderer/services/matrix/index.ts
  src/renderer/services/matrix/matrix.ts
  src/renderer/services/matrix/secretStorage.ts
  tsconfig.json
  tsconfig.paths.json
  webpack/webpack.shared.ts
Due: prettier --write, eslint --fix

feat: updated icons
  src/main/resources/icons/icns.icns
  src/main/resources/icons/icon.icns
  src/main/resources/icons/icon.ico
  src/main/resources/icons/icon.png
Due: none

feat: updated icons (#11)
  src/main/resources/icons/icns.icns
  src/main/resources/icons/icon.icns
  src/main/resources/icons/icon.ico
  src/main/resources/icons/icon.png
Due: none

feat: implement balances service
  package.json
  pnpm-lock.yaml
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Balances/Balance.test.tsx
  src/renderer/screens/Balances/Balance.tsx
  src/renderer/screens/Balances/Balances.tsx
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/balanceStorage.ts
  src/renderer/services/balance/common/constants.ts
  src/renderer/services/balance/common/types.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/network/common/chains.json
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/types.ts
Due: prettier --write, eslint --fix

chore: update tests
  src/renderer/screens/Balances/Balance.test.tsx
  src/renderer/screens/Balances/Balance.tsx
  src/renderer/screens/Balances/Balances.test.tsx
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/networkService.ts
Due: prettier --write, eslint --fix

feat: add sorting for chains
  src/renderer/screens/Balances/Balances.tsx
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/renderer/utils/objects.ts
Due: prettier --write, eslint --fix

chore: fix comments
  src/renderer/services/network/chainsService.ts
Due: prettier --write, eslint --fix

feat: implement balances service
  package.json
  pnpm-lock.yaml
  src/renderer/components/common/NetworkConnector/NetworkConnector.tsx
  src/renderer/components/common/NetworkConnector/chainSpecs/kusama-karura.json
  src/renderer/components/common/NetworkConnector/chainSpecs/kusama-statemine.json
  src/renderer/components/common/NetworkConnector/chainSpecs/polkadot-acala.json
  src/renderer/components/common/NetworkConnector/chainSpecs/polkadot-statemint.json
  src/renderer/components/common/NetworkConnector/chainSpecs/westend-westmint.json
  src/renderer/components/common/NetworkConnector/chains.json
  src/renderer/components/common/NetworkConnector/index.ts
  src/renderer/context/NetworkContext/NetworkContext.tsx
  src/renderer/screens/Balances/Balance.test.tsx
  src/renderer/screens/Balances/Balance.tsx
  src/renderer/screens/Balances/Balances.test.tsx
  src/renderer/screens/Balances/Balances.tsx
  src/renderer/services/balance/balanceService.ts
  src/renderer/services/balance/balanceStorage.ts
  src/renderer/services/balance/common/constants.ts
  src/renderer/services/balance/common/types.ts
  src/renderer/services/balance/common/utils.ts
  src/renderer/services/dataVerification/dataVerification.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/chains.json
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/networkService.ts
  src/renderer/services/storage/storage.ts
  src/renderer/services/storage/types.ts
  src/renderer/utils/objects.ts
Due: prettier --write, eslint --fix

feat: add sorting for chains
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
Due: prettier --write, eslint --fix

chore: naming
  src/renderer/services/network/chainsService.ts
Due: prettier --write, eslint --fix

chore: fix lint comments
  src/renderer/services/network/common/types.ts
Due: prettier --write, eslint --fix

fix: add unit tests for sorting
  src/renderer/services/network/__test__/chainsService.test.ts
Due: prettier --write, eslint --fix

chore: fix comments
  src/renderer/services/network/__test__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/utils.ts
Due: prettier --write, eslint --fix

feat: add sorting for chains
  src/renderer/services/network/__test__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/common/utils.ts
Due: prettier --write, eslint --fix

feat: add sorting for chains (#13)
  src/renderer/services/network/__test__/chainsService.test.ts
  src/renderer/services/network/chainsService.ts
  src/renderer/services/network/common/types.ts
  src/renderer/services/network/common/utils.ts
Due: prettier --write, eslint --fix

feat: add https for development
  webpack/webpack.renderer.dev.ts
Due: prettier --write, eslint --fix

initial integration tests as different group
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/renderer/services/matrix/__tests__/integrations/matrix.base.test.ts
Due: prettier --write, eslint --fix

Adding test credentials
  package.json
  pnpm-lock.yaml
  src/renderer/services/matrix/__tests__/integrations/matrix.base.test.ts
  src/renderer/services/matrix/matrix.ts
  tests/integrations/jest.config.ts
  tests/integrations/matrix/matrix.base.test.ts
  tests/integrations/setup.integration.tests.ts
Due: prettier --write, eslint --fix

Adding room creation case
  tests/integrations/matrix/data.json
  tests/integrations/matrix/matrix.base.test.ts
  tests/integrations/utils/matrixCreateRoom.ts
Due: prettier --write

Adding global jest timeout
  tests/integrations/setup.integration.tests.ts
Due: prettier --write

Adding test runner to CI
  .github/workflows/integration_test_runner.yaml
  tests/integrations/matrix/matrix.base.test.ts
Due: prettier --write

Adding GH reporter
  tests/integrations/jest.config.ts
Due: prettier --write

fix pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

fix expect block for creating room test
  tests/integrations/matrix/matrix.base.test.ts
Due: prettier --write

return ci triggers back after testing
  .github/workflows/integration_test_runner.yaml
Due: prettier --write
